.questInfo {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    li {
      text-align: center;
      width: calc(100% / 3);

      & > div:first-child {
        font-weight: bold;
        border-bottom: 1px solid white;
      }

      & > div {
        padding: 10px;
      }

    }
  }

}